<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=false">
    <title>AmazingAsim</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/65b26d5d89.js" crossorigin="anonymous"></script>
    <script src="script.js" defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color: black;color:orangered; font-size: 1.2rem;">
        <a class="navbar-brand" href="#home" style="background-color: black;color:orangered;">AmazingAsim</a>
        <button class="navbar-toggler" style="background-color:red;" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link"  href="#aboutme">About Me</a></li>
                <li class="nav-item"><a class="nav-link"  href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact Details</a></li>
                <li class="nav-item resume" style="border:2px solid orangered"><a class="nav-link resume" download="" href="images/styledresume.pdf">download resume</a></li>
            </ul>
        </div>
    </nav>

<div class="container profile">
    <img src="images/image.jpeg" id="profileimg"  alt="profile image" >
    <p id="intro">A mean stack web developer specializing in HTML websites
        and web applications. Have done numerous projects involving
        front and back end development.
        </p>
</div>
<div class="container-fluid mt-3" style="color: orangered;">
    <div class="row justify-content-center">
        <div class="col-1 mx-2"><i class="fa-brands fa-html5 fa-3x"></i></div>
        <div class="col-1 mx-2"><i class="fa-brands fa-css3 fa-3x"></i></div>
        <div class="col-1 mx-2" ><i class="fa-brands fa-js fa-3x"></i></div>
        <div class="col-1 mx-2"><i class="fa-solid fa-database fa-3x"></i></div>
        <div class="col-1 mx-2"><i class="fa-brands fa-git fa-3x"></i></div>

        <div class="col-1"> <img class="fa-brands"  src="images/meanstack.png" alt="" style="width:60%;"></div>
        

        <div class="col-1 mx-2"><i class="fa-brands fa-bootstrap fa-3x"></i></div>


        <div class="col-1 mx-2"><i class="fa-brands fa-angular fa-3x"></i></div>


    </div>
</div>

<footer >
   <div class="row">
    <div class="col-sm-4">
    <a href="mailto:asmsheikh123@gmail.com">  <i class="fa-solid fa-envelope"></i> :asmsheikh123@gmail.com;</a><br>
        <i class="fa-solid fa-phone"></i> :7470587647;<br>
       <a href="https://www.linkedin.com/in/asim-sheikh-10aa8920a"> <i class="fa-brands fa-linkedin"></i>Linkedin</a> <br>
     <a href="https://github.com/AmazingAsim">   <i class="fa-brands fa-github"></i> :https://github.com/AmazingAsim </a> <br>
      <a href="https://amazingasim.herokuapp.com">  <i class="fa-solid fa-user"></i> :https://amazingasim.herokuapp.com/</a>


    </div>
   </div>

</footer>
  
</body>

</html>