@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Square+Peg&display=swap');
:root{
    --purple:rgb(20, 199, 223);
}
body{
   font-family: 'Orelega One', cursive;
   overflow-x: hidden;
   margin-top: 5%;
}

li{
    list-style-type: none;
}

nav a{
    color:red;
    font-size: 1.5rem;
}

.navbar-brand{
    font-size: 2rem;
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info ul li{
    text-align: left;
    vertical-align:bottom;
}
.info ul li::before{
    
    content: '\02605';
    font-size: 2rem;
    margin-right: 20px;
   vertical-align:middle;
}

.info h1, .info h2{
    background-color: var(--purple);
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

.sl{
    display: flex;
    justify-content: center;
    animation-name: glitter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.toollist{
    transform-style: preserve-3d;
    perspective: 500px;
    display: flex;
    justify-content: center;
    transition: 1s ease-out;
}


.toollist .col{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 20px;
   background-color:var(--purple);
   min-width:150px;
   max-width: 150px;
   height: 150px; 
   border-radius: 100px;
   text-align: center;
   transition: 1s ease-in;
 

    
}

.toollist .col:hover{
  transform: rotateY(360deg);
  background-color:red;
  color:white;
}
.toollist h1{
    font-size: 20px;
    width: fit-content;
}
.projectgrid{
    display: flex;
    justify-content: space-around;
   
}

.showcase{
    animation-name: spark;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:reverse;
    animation-fill-mode: none;
}

.tools{
    text-shadow: 1px 1px 2px black;
    position: relative;
    

    
}
.card{
    opacity: 0.95;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);;
  opacity: 1;
}

.footer{
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 15px;
    height: fit-content;
   
   
}
nav,footer{
    box-shadow: 0px 0px 10px black;
    background-color: var(--purple);
    animation-name: glitter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;


   
}



@keyframes glitter {
    0%{background: linear-gradient(to left,var(--purple),white,white);}
    50%{ background: linear-gradient(to left,white,var(--purple),white);}
    100%{background: linear-gradient(to left,white,white,var(--purple));}
}

@keyframes spark {
    0%{background: linear-gradient(to left,rgba(255, 0, 0, 0.555),white,white);}
    50%{ background: linear-gradient(to left,white,rgba(255, 0, 0, 0.507),white);}
    100%{background: linear-gradient(to left,white,white,rgba(255, 0, 0, 0.5));}
}

img{
    box-shadow: 0px 0px 10px var(--purple);
    border-radius: 50px;
}

.sl img{
    box-shadow: 0px 0px 11px black;
}

.sl img:hover{
    transform: scale(1.4);
}

.nav-link:hover{
    color:red;
}

.favicons a,.favicons{
    color:red;
    text-align: center;
    margin: 20px;

}



